@import 'utilities.css';
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
header{
    background:yellowgreen;
}
.Container{
    max-width:1020px;
    padding:0 15;
    margin:0 auto;
}
header nav .left a{
    color:var(--pure);
    text-decoration:non;
    margin-right:3rem;
}
header nav .right a{
    margin-right:3rem;
}
.items-center{
    align items:center;
}
.justify-between{
    justify-content:space-between;
}